// Basic.
// Sorted by name A-Z.
// =============================================================================
$black:                #000; // Black.
$blue:                 #00f; // Blue.
$cyan:                 #0ff; // Cyan.
$green:                #0f0; // Green.
$grey: lighten($black, 50%); // Grey.
$magenta:              #f0f; // Magenta.
$red:                  #f00; // Red.
$white:                #fff; // White.
$yellow:               #ff0; // Yellow.
// =============================================================================

// Custom.
// =============================================================================
